.header {
  font-family: 'Ubuntu', sans-serif;
  color: #FFFFFF;
  font-size: 1.6em;
  text-align: center;
}

.header h1 {
  border-bottom: 2px solid;
  text-shadow: 0.5px 0.5px darkgrey;
  margin-right: auto;
  margin-left: auto;
}
.header h4 {
  margin-top: 20px;
  font-style: italic;
}