<!DOCTYPE html>
<html>
  <head>
    <title>Viewpoints</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
<!-- 
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuNU_bcSsdN3fEdCi-cU0UL5YprE-f51M&libraries=places,geometry"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerwithlabel/src/markerwithlabel.js"></script> -->

  </head>

  <body>
    <%= yield %>
  </body>
</html>
